/* .custom-spinner .mat-progress-spinner-circle {
   stroke: #008d76;
   width: 50px;
   height: 50px;
 } */

.burger-icon {
   color: #008d76;
   cursor: pointer;
}

.sidebar-container {
   width: 100%;
   height: 40%;
   min-height: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   padding: 10px;
}

.close-icon {
   cursor: pointer;
   color: grey;
}

.header {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   padding: 10px;
 }
 
 .sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 300px;
   height: 100%;
   background-color: #ffffff;
   transition: transform 0.3s ease-in-out; 
   transform: translateX(-100%);
   z-index: 10;

 }
 
 .sidebar.visible {
   transform: translateX(0%);
 }

 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9;
   display: none;
 }
 
 .overlay.visible {
   display: block;
 }
 
.mat-spinner::ng-deep circle {
   stroke: #008d76;

}


.lmenu {
   width: 250px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.rmenu {
   width: 250px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

img {
   height: 30px;
   cursor: pointer;
}

.selectItems {
   width: 250px;
}

select {
   width: 150px;
   padding: 5px 10px;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border-radius: 10px;
   cursor: pointer;
}

button {
   width: 100px;
   background-color: #008d76;
   color: white;
   padding: 5px 10px;
   border: solid 1px #008d76;
   cursor: pointer;
   border-radius: 10px;
}

button:hover {
   background-color: white;
   color: #008d76;
   border: solid 1px #008d76;
}

.menu {
   display: flex;
}